.balance-card-header {
    background-color: #e98132;
    display: flex;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* x, y, blur, cor */
    justify-content: space-between;

    img {
        width: 6%;
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    p {
        display: inline-block;
        font-size: 20px;
        width: 20%;
    }
}

.balance-card-body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;

    &-contains {
        padding: 20px;
        display: flex;
        justify-content: space-between;
    }

    hr {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}

.balance-card-footer {
    background-color: #fff;
    padding: 20px;
    &__contains {
        background-color: #e5e5e5;
        padding: 20px;
        display: flex;
        justify-content: space-between;

    }
    border-radius: 0 0 5px 5px;
}